<div class="container pt-2">
  <h1 class="display-4 text-center mt-0">Nastavenia</h1>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 p-3">
      <app-bulb></app-bulb>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 p-3">
      <app-ledlight></app-ledlight>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 p-3">
      <app-socket></app-socket>
    </div>




    <div class="col-xs-12 col-md-6 col-lg-4 p-3">
      <app-curtain></app-curtain>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 p-3">
      <app-tv></app-tv>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 p-3">
      <app-voice></app-voice>
    </div>

  </div>

</div>
