<div class="card h-100">
  <h3 class="card-header">Zásuvky</h3>
  <div class="card-body h-100">
    <div class="card-widget row h-100 align-items-center">
      <div class="col-6 p-0 text-center ">
        <div class="list-group pl-3">
          <a class="list-group-item list-group-item-action" (click)="socket=0" [ngClass]="socket == 0 ? 'active':''">Lampa</a>
          <a class="list-group-item list-group-item-action" (click)="socket=1" [ngClass]="socket == 1 ? 'active':''">Zásuvka 1</a>
          <a class="list-group-item list-group-item-action" (click)="socket=2" [ngClass]="socket == 2 ? 'active':''">Zásuvka 2</a>
        </div>
      </div>
      <div class="col-6  text-center" *ngIf="!loaded">
        <h4 class="mb-3">Napájanie</h4>
        <img class="w-25 mb-4" src="assets/loader.gif">
      </div>
      <div class="col-6  text-center" *ngIf="loaded">
        <h4 class="mb-3">Napájanie</h4>
        <ui-switch (click)="setStateSocket()" [checked]="power"></ui-switch>
      </div>
    </div>
  </div>
</div>
