<div class="card h-100">
  <h3 class="card-header">Zásuvky</h3>
  <div class="card-body h-100">
    <div class="card-widget row h-100 align-items-center">
      <div class="col-6 p-0 text-center ">
        <div class="list-group pl-3">
          <a href="#" class="list-group-item list-group-item-action active">Lampa</a>
          <a href="#" class="list-group-item list-group-item-action">Zásuvka 1</a>
          <a href="#" class="list-group-item list-group-item-action">Zásuvka 2</a>
        </div>
      </div>
      <div class="col-6  text-center">
        <h4 class="mb-3">Napájanie</h4>
        <ui-switch ></ui-switch>
      </div>
    </div>
  </div>
</div>
