<div class="card h-100">
  <h3 class="card-header">Ovládanie hlasom</h3>
  <div class="card-body">
    <div class="card-widget">
      <div class="row">

        <div class="col-6 p-0 text-center">
          <h4 class="mb-3">Výpis príkazov</h4>


          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample">Stlač</button>

        </div>

        <div class="col-6 align-self-center text-center">
          <h4 class="mb-3">Napájanie</h4>
          <ui-switch ></ui-switch>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="collapse mt-3" id="collapseExample">
            <div class="card card-body">
              Zapni svetlo <br>
              Vypni svetlo <br>
              Zapni ledky <br>
              Vypni ledky <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
