<div class="container mt-3 border">
  <div class="row d-flex h-100">
    <div class="col-md-8 p-0">
      <div class="h-100 p-3">

        <div class="row text-center px-sm-4">
          <div class="col btn btn-secondary m-1"> <i class="fa fa-backward fa-3x"></i> </div>
          <div class="col btn btn-secondary m-1" (click)="kodi('media_play')"> <i class="fa fa-play fa-3x"></i> </div>
          <div class="col btn btn-secondary m-1"> <i class="fa fa-forward fa-3x"></i> </div>
        </div>

        <div class="row text-center px-sm-4">
          <div class="col btn btn-secondary m-1" (click)="kodi('media_previous_track')"> <i class="fa fa-fast-backward fa-3x"></i> </div>
          <div class="col btn btn-secondary m-1" (click)="kodi('media_stop')"> <i class="fa fa-stop fa-3x"></i> </div>
          <div class="col btn btn-secondary m-1" (click)="kodi('media_pause')"> <i class="fa fa-pause fa-3x"></i> </div>
          <div class="col btn btn-secondary m-1" (click)="kodi('media_next_track')"> <i class="fa fa-fast-forward fa-3x"></i> </div>
        </div>

        <div class="row text-center px-sm-5">
          <div class="col px-5 pt-2">
            <div class="row">
              <div class="col btn" (click)="kodi('kodi_call_method','Input.ShowOSD')"><b>PREHRÁVAČ</b><br><i class="fa fa-circle fa-2x"></i></div>
              <div class="col btn btn-secondary" (click)="kodi('kodi_call_method','Input.Up')"> <i class="fa fa-chevron-up fa-3x"></i> </div>
              <div class="col btn" (click)="kodi('kodi_call_method','Input.Info')"><b>INFORMÁCIE</b><br><i class="fa fa-circle fa-2x"></i></div>
            </div>
          </div>
        </div>

        <div class="row text-center px-sm-5">
          <div class="col px-5 pt-2">
            <div class="row">
              <div class="col btn btn-secondary m-1" (click)="kodi('kodi_call_method','Input.Left')"> <i class="fa fa-chevron-left fa-3x"></i> </div>
              <div class="col btn btn-secondary m-1" (click)="kodi('kodi_call_method','Input.Select')"><h1 class="m-0"><b>OK</b></h1></div>
              <div class="col btn btn-secondary m-1" (click)="kodi('kodi_call_method','Input.Right')"> <i class="fa fa-chevron-right fa-3x"></i> </div>
            </div>
          </div>
        </div>

        <div class="row text-center px-sm-5">
          <div class="col px-5 pt-2">
            <div class="row">
              <div class="col btn" (click)="kodi('kodi_call_method','Input.Home')"><i class="fa fa-circle fa-2x"></i><br><b>MENU</b></div>
              <div class="col btn btn-secondary" (click)="kodi('kodi_call_method','Input.Down')"> <i class="fa fa-chevron-down fa-3x"></i> </div>
              <div class="col btn"><i class="fa fa-circle fa-2x" (click)="kodi('kodi_call_method','Input.Back')"></i><br><b>SPÄŤ</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center mb-2 mt-xl-5">
      <h1 class="display-4 text-center  d-none d-md-block"><b>{{time}}</b></h1>
      <h1 class="display-4 text-center  d-none d-md-block"><b>{{date | date:'MM' | monthsSlovak}} {{date | date:'d, y'}}</b></h1>
      <h1 class="display-4 text-center  d-none d-md-block"><b>{{temperature}} {{weatherState| weatherSlovak}}</b></h1>
      <div class=""><i class="fa fa-cog fa-5x btn btn-danger" (click)="settingsShow()"></i></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row ">
        <div class="col-4 col-sm border border-right-0 p-2 btn center" [ngClass]="profil == 0 ? 'btn-active':''" (click)="setProfile(0)">
          <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-auto">
              <i class="fa fa-power-off fa-5x color-red"></i>
            </div>
          </div>
        </div>

        <div [ngClass]="profil == 1 ? 'btn-active':''" class="col-4 col-sm border border-right-0 p-2 btn" (click)="setProfile(1)">
          <i class="fa fa-tv fa-5x"></i><h4 class="mb-0 mt-1 align-bottom">Kino</h4>
        </div>

        <div [ngClass]="profil == 2 ? 'btn-active':''" class="col-4 col-sm border border-right-0 p-2 btn" (click)="setProfile(2)">
          <i class="fa fa-music fa-5x"></i><h4 class="mb-0 mt-1 align-bottom">Hudba</h4>
        </div>

        <div [ngClass]="profil == 3 ? 'btn-active':''" class="col-6 col-sm border border-right-0 p-2 btn" (click)="setProfile(3)">
          <i class="fa fa-bed fa-5x"></i><h4 class="mb-0 mt-1 align-bottom">Relax</h4>
        </div>

        <div [ngClass]="profil == 4 ? 'btn-active':''" class="col-6 col-sm border p-2 btn" (click)="setProfile(4)">
          <i class="fa fa-volume-off fa-5x"></i><h4 class="mb-0 mt-1 align-bottom">Tichý</h4>
        </div>
      </div>
    </div>
  </div>

</div>



