<div class="card h-100">
  <h3 class="card-header">Led osvetlenie</h3>
  <div class="card-body">
    <div class="card-widget">
      <div class="row">
        <div class="col-6 p-0 text-center">
          <h4 class="mb-3">Napájanie</h4>
          <ui-switch ></ui-switch>
          <h4 class="mb-0">Intenzita</h4>
          <mat-slider class="btn-block pt-0" min="0" max="5" step="1" value="5"></mat-slider>
        </div>
        <div class="col-6 align-self-center text-center">
          <div class="dropdown">
            <h4>Farba</h4>
            <div class="list-group pl-3">
              <a href="#" class="list-group-item list-group-item-action" >Červená</a>
              <a href="#" class="list-group-item list-group-item-action active">Zelená</a>
              <a href="#" class="list-group-item list-group-item-action">Modrá</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
